/* CSS Variables */

/* Border */

--radius-l: 1rem;
--radius-circle: 50%;
--radius-m: .5em;
--radius-pill: 9999px;
--radius-s: .25rem;
--radius-xl: 1.5rem;

/* Colors */

--button-background-color--hover: var(--color-accent-dark-20);
--button-background-color: var(--color-accent);
--button-border-color: var(--color-accent);
--button-padding-l: 1em 2em;
--button-padding-m: 0.75em 1.5em;
--button-padding-s: 0.5em 1em;
--button-radius: var(--radius-pill);
--button-text-color--filled: white;
--button-text-color--outlined: var(--color-accent);

/* Gap */


/* Grid */

--grid-1: repeat(1, 1fr);
--grid-2: repeat(2, 1fr);
--grid-3: repeat(3, 1fr);
--grid-4: repeat(4, 1fr);
--grid-auto-1: repeat(auto-fit, minmax(0, 1fr));
--grid-auto-2: repeat(auto-fit, minmax(min(100%, 430px), 1fr));
--grid-auto-3: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
--grid-auto-4: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
--grid-gap: var(--m)
--grid-gap: var(--space-m);

/* Margin */


/* Padding */

--section-block-padding: var(--space-m)
--section-inline-padding: var(--space-xl)
--section-padding: var(--space-xl) var(--space-m);

/* Spacing */

--space-l: clamp(3rem, 1.53vw + 2.694rem, 4rem);
--space-m: clamp(2rem, 0.765vw + 1.847rem, 2.5rem);
--space-s: clamp(1rem, 0.382vw + 0.924rem, 1.25rem);
--space-s-m: clamp(1rem, 2.294vw + 0.541rem, 2.5rem);
--space-xl: clamp(4rem, 5.354vw + 2.929rem, 7.5rem);
--space-xs: clamp(0.5rem, 0.191vw + 0.462rem, 0.625rem);
--space-xxs: clamp(0.25rem, 0.096vw + 0.231rem, 0.3125rem);

/* Typography */

--font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
--text-h1: clamp(3.5rem, 3.824vw + 2.735rem, 6rem);
--text-h2: clamp(2.5rem, 1.912vw + 2.118rem, 3.75rem);
--text-h3: clamp(1.5rem, 0.765vw + 1.347rem, 2rem);
--text-l: 1.25rem;
--text-m: 1rem;
--text-s: .875rem;
--text-xl: 1.5rem;
